<%= include part_head %>

<div class="content" >
	<div class="col-sm-12 col-xs-12 right-bottom-edge active" >
		<h1>Login</h1>
		<form method="POST" action="/login">
			<input name="email" type="email" class="form-control" placeholder="Email Address">
			<input name="password" type="password" class="form-control" placeholder="Password">
			<input type="submit" class="btn btn-primary pull-right" value="Login">
			<div class="clearfix"></div>
		</form>	
	</div>
	<div class="clearfix"></div>
</div>


<%= include part_foot %>