*{
	box-sizing:border-box;
}
body{
	background: #eeeeee;
}
@media (min-width: 768px) {/*big*/
	.right-bottom-edge:not(:last-child){
		border-right: 1px solid #dddddd;
		border-bottom: 5px solid #ffffff;
	}
	.right-bottom-edge.active{
		border-bottom: 5px solid #ff5500;
	}
}
@media (max-width: 768px) {/*small*/
	.right-bottom-edge:not(:last-child){
		border-bottom: 1px solid #dddddd;
	}
	.right-bottom-edge.active{
		border-bottom: 5px solid #ff5500;
	}
}
.content{
	padding: 25px;
}
.access{
	padding: 10px;
	background: #ffffff;
	height: 100%;
}
.form-control{
	margin-bottom: 7px;
	border-radius: 0px;
}
.btn{
	border-radius: 0px;
}
.btn-primary{
	background: #ff5500;
	border-color: #ff5511;
}
.btn-primary:active{
	background: #ff4400;
	border-color: #ff5500;
}
.btn-primary:focus{
	background: #ff4400;
	border-color: #ff5500;
}
.btn-primary:hover{
	background: #ff6600;
	border-color: #ff5522;
}
h1{
	margin-top: 5px;
	color: #ff5500;
}
.alert{

}
.alert-success{
	background: white;
	color:#ff5500;
	border: none;
	border-bottom: 4px solid #ff5500;
	border-radius: 0px;
}
.alert-success h3{
	padding: 0px;
	margin: 0px;
}
.alert-dismissable{

}
#chart-wrap{
	border:0px solid #000;
	text-align: center;
	width:80%;
	float: right;
	height:500px;
	position: relative;
	margin-right:10px;
}
#chart-y{
	margin-top:150px;
	border-right:0px solid #000;
	position: absolute;
	right:80%;
	left:0;
	top:0;
	bottom:20%;
}
#chart_div{
	position: absolute;
	right:0;
	left:20%;
	top:0;
	bottom:20%;
}
.scrollok{
	overflow-y:scroll;
}
#chart-x{
	border-top:0px solid #000;
	position: absolute;
	right:0;
	left:20%;
	top:80%;
	bottom:0;
}
.draggy{
	text-align: center;
	width:150px;
	height:2.2em;
	padding:5px;
	margin:5px;
	border-radius: 3px;
	cursor: pointer;
}
.dropzone{
	border:1px dashed black;
	background-color: transparent;
	margin:auto;
	margin-top:4px;
}
.filled{
	background-color: #333;
	color:#FFF;
	border:1px solid black;
}
.draggable{
	background-color: #333;
	color:#FFF;
	border:1px solid black;
}
.selected{
	color:#000;
	background-color: yellow;
}
.dropdown-menu{
	min-width: 200px;
}

.base{
	background: white;
	padding: 20px;
	border-bottom: 4px solid #ff5500;
	box-shadow: 0px 0px 5px #
}
.tag{
	text-decoration: none;
	color: #ff6600;
}

.tag:hover{
	text-decoration: none;
	color: #ff6600;
}
#filter-wrap-wrap{
	width:80%;
	float: right;
	margin-right:10px;
}
#filter-wrap h3{
	margin-top:0;

}
.filter{
	margin-bottom:1em;
}
.filter .draggy{
	display:inline;
}
.filter select{
	display:inline;
	font-size:19px;
	margin-top: 1px;
}
.filter input{
	display:inline;
}
.update-filter{
	margin-bottom: 1em;
}
#left-col{
	margin-left:20px;
}